
languages/*
uploads/*

plugins/*

!plugins/da-testimonies
plugins/da-testimonies/public/css
plugins/da-testimonies/public/js/*min.js

!plugins/erla-owlcarousel-simple
plugins/erla-owlcarousel-simple/css/*min.css
plugins/erla-owlcarousel-simple/js/*min.js

themes/*
!themes/UKSW-1.1
themes/UKSW-1.1/node_modules/*

themes/UKSW-1.1/assets/css/.sass-cache
themes/UKSW-1.1/assets/css/bootstrap.min.css
themes/UKSW-1.1/assets/css/bootstrap.css
themes/UKSW-1.1/assets/fonts
themes/UKSW-1.1/assets/js/bootstrap.min.js
themes/UKSW-1.1/assets/js/bootstrap.js