article#current-issues,
section#news-section
{

  .wrapper {
    position: relative;

    .loading {
      position: absolute;

      left: 0;
      width: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.90);

      width: 100%;
      height: 100%;

      text-align: center;
      i {
        margin-top: 20px;
        color: $cBlue
      }
    }

  }
}

article#current-issues {

  .wrapper {
    min-height: 40px;
  }

  a {
    .news-item {

      overflow: hidden;
      font-weight: 400;
      padding: 5px;

      background-color: #eee;
      border: 1px solid transparent;
      transition: all 0.3s;

      .date {
        font-size: 0.6em;
        margin-bottom: 3px;
        color: #aaa;
      }

      img {
        height: 50px;
      }


      h3 {
        margin: 0;

        color: $cBlue;
        font-size: 0.9em;

      }

      margin-bottom: 5px;
    }

    &:hover {
      .news-item {
        border-color: #ccc;
      }
    }
  }
}

section#news-section,
section.row-content {

  .wrapper {

    min-height: 180px;

    .news-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;


      width: 100%;
      //height: 180px;

      .news-item {

        flex-grow: 0;
        margin: 20px;
        width: 240px;
        height: 150px;
        box-sizing: border-box;
        overflow: hidden;

        a {
          position: relative;
          display: block;

          background-image: url("../../imgs/admin-ajax.jpg");
          background-size: cover;
          background-position: center center;


          width: 100%;
          height: 100%;

          .blend {
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.75);
          }

          h3, .date {
            position: absolute;
            padding: 8px;
          }

          .date {
            top: 0;
            right: 0;

            background-color: $cRed;
            color: #fff;
            font-size: 0.8em;
            letter-spacing: normal;
          }

          h3 {
            bottom: 0;
            left: 0;

            text-align: left;
            font-size: 1.0em;
            line-height: 1.1em;
            letter-spacing: 0.2em;
            font-weight: 600;
            margin: 0;
            width: 100%;

            background-color: $cBlue;
            color: #fff;
            font-variant: small-caps;
            opacity: 0.75;

            transition: all 0.2s;
          }
        }

        a:hover h3 {
          padding-bottom: 10px;
          border-bottom: 5px solid $cOrange;
        }
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .wrapper .news-container {
      justify-content: center;

      .news-item {
        width: 192px;
        height: 120px;

        a {
          .date {
            padding: 5px;
            font-size: 0.6em;
          }

          h3 {
            font-size: 0.85em;
          }

        }
      }

    }
  }
}

section.row-content {
  .wrapper {
    .news-container {
      justify-content: center;
    }
  }
}